* {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: hsl(233, 8%, 62%);
}
.article {
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.feature {
    container-type: inline-size;
}
@container(max-width: 200px) {
    .feature > img {
        width: 40px;
    }
} 
.article > img {
    max-width: 100%;
    border-radius: 0.2rem;
}
.article-text {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.article-author {
    font-size: 0.9rem;
    text-wrap: wrap;
}
.article-link {
    text-decoration: none;
    color: hsl(233, 26%, 24%);
    text-wrap: wrap;
}
.article-link:hover {
    color: hsl(192, 70%, 51%);
}
.article-text > p {
    text-wrap: wrap;
}