html, body {
    margin: 0%;
    padding: 0%;
}

* {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: hsl(233, 8%, 62%);
}

.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: nowrap;
    padding-top: 6rem;
}

h1 {
    text-wrap: wrap;
    font-size: 3rem;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}

.hero-section-text {
    justify-content: start;
    width: 30rem;
    height: fit-content;
    text-wrap: wrap;
    
    position: relative;
    left: 15.5rem;
    top: 9rem;
    padding: 1rem;
}
.phone-image {
    position: relative;
    left: 17%;
    bottom: 10%;
    z-index: 0.5;
}

.hero-image {
    background-image: url('../assets/bg-intro-desktop.svg'); 
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: -4rem -12rem;*/
    background-position: 15% 10%;
    position: relative;
    bottom: 2.5rem;
}